*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: 50px;
}

.container button{  
    height: 60px;
    width: 150px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    background-color: #174465;
    color: #D1DFD2;
    cursor: pointer;
    transition: .4s;
}

.container button:hover{
    background-color: #103148;
}